
.white-heading {
  color: white; /* Set the text color to white */
}



.status-green {
  color: rgb(3, 179, 3);
  font-weight: bold;
}

.status-red {
  color: red;
  font-weight: bold;
}

.status-orange {
  color: orange;
  font-weight: bold;
}

.status-default {
  color: rgb(4, 68, 27);
  font-weight: bold;
}
.residence-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}
button {
  background-color: white;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: #4b7afa;
}

.liked {
  color: red;
  font-weight: bold;
}